<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Chanakarn Niyornram">
    <meta name="description" content="A to do list">
    <title>Shopping list</title>
    <link rel="manifest" href="../manifest/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <style>
    :root{
        --material-shaduw-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        --material-shaduw-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        --material-shaduw-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        --material-shaduw-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
        --material-transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        --primary-color:#F06292;
        --color-add: #81C784;
        --color-delete: #FF8A65;
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html{
        height: 100%;
        font-family: 'Robot', sans-serif;
    }

    body{
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header, main{
        max-width: 55em;
    }

    header{
        padding: 2rem;
        background-color: var(--primary-color);
        position: relative;
        position: sticky;
        top: 0;
        width: 100%;
    }

    header label{
        display: none;
    }

    button{
        border: none;
        font-size: 1em;
        font-weight: bold;
        box-shadow: var(--material-shaduw-1);
        transition: var(--material-transition);
        outline: none;
    }

    button:hover, button:focus{
        cursor: pointer;
        border: solid 5px black;
    }

    li{
        margin-bottom: 16px;
    }

    button:hover, button:focus{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: var(--material-shaduw-4);
    }

    header form{
        display: flex;
        box-shadow: var(--material-shaduw-4);
    }

    header form input{
        width: 100%;
        font-size: 1em;
        font-weight: bold;
        padding: 16px;
        padding: 1rem;
        text-align: center;
        border: none;
        outline: none;
    }
    @media (min-width: 54em){
        header form input{
            font-size: 3em;
        }
    }

    .button-add{
        font-size: 2em;
        padding: 16px 32px;
        padding: 1rem 2rem;
        background-color: green;
        background-color: var(--color-add);
    }

    main{
        display: flex;
        flex-direction: column;
        padding: 32px;
        padding: 2rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.04);
    }

    main ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .item-text{
        float:left;
        margin-right: 16px;
    }

    main li{
        width: 100%;
        display: flex;
        background-color: #fff;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        align-items: center;
        padding-left: 32px;
        padding-left: 2rem;
        font-size: 1.2em;
        cursor: move;
    }
    @media (min-width: 50em){
        main li{
            font-size: 2em;
        }
    }
    main li:last-of-type{
        animation: slide-in 0.4s;
    }

    @keyframes slide-in {
        from{
            transform: translateY(-2.4em);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    }


    main li form{
        margin-left: auto;
    }

    .button-delete{
        padding: 16px;
        padding: 1rem;
        box-shadow: var(--material-shaduw-1);
        background-color: red;
        background-color: var(--color-delete);
    }
    </style> 
</head>
<body>