<script>
    (function () {
        const app = {
            init: function () {
                dragAndDrop.event()
            }
        }

        const dragAndDrop = {
            event: function () {
                let list = document.querySelectorAll('main li');
                let self = this;
                list.forEach(function (i) {
                    i.addEventListener('dragstart', (item) => {
                        self.dragStart(item)
                    })
                    i.addEventListener('dragover', (item) => {
                        self.dragOver(item)
                    })
                    i.addEventListener('drop', (item) => {
                        self.dropItem(item)
                    })
                })
            },
            dragStart: function (ev) {
                ev.dataTransfer.setData('text', ev.target.innerHTML)
                this.source = ev.target;
            },
            dragOver: function (ev) {
                ev.preventDefault()
            },
            dropItem: function (ev) {
                ev.preventDefault()
                let data = ev.dataTransfer.getData("text")
                this.source.innerHTML = ev.target.innerHTML
                ev.target.innerHTML = data;
            },
            source: {}
        }

        app.init()
    })()
</script>
</body>

</html>