<script>
    let source;

    let list = document.querySelectorAll('main li');

        list.forEach(function(i){
        i.addEventListener('dragstart', function(item){
            dragStart(item)
        })
        i.addEventListener('dragover',function(item){
            dragOver(item)
        })
        i.addEventListener('drop', function(item){
            dropZone(item)
        })
    })

    function dragStart(ev) {
        ev.dataTransfer.setData('text', ev.target.innerHTML)
        source = ev.target;
    }

    function dragOver(ev) {
        ev.preventDefault()
        
    }

    function dropZone(ev) {
        ev.preventDefault()
        let data = ev.dataTransfer.getData("text")
        ev.dataTransfer.dropEffect = 'move'
        console.log(data)
        source.innerHTML = ev.target.innerHTML
        ev.target.innerHTML = data;
    }

</script>
</body>
</html>